<div class="mainhero">
  
  <p class="maintext">Infectious Diseases Expert System</p><br>
  <p class="ptext">An Expert System for quick diagnosis of infectious diseases
    It is recommended you visit a Doctor even after the output of this tests
  </p><br>
  <p class="info"><span>Further Information can be obtained here:</span>
    NCDC:+2348099555577 , <a href="https://www.cdc.gov">Disease Control</a>
  </p>
 <a  class="customlink"href="/second">Click here to Start</a>
 <p class="copy">Copyright &copy; 2021</p>
</div>